.sidebar {
  background-color: #ffffff; 
  height: 54vh;
  width: 250px !important;
  margin-top: 160px !important;
  margin-left: 36px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.category-item{
  margin-top: 15px;
}

.sidebar .category-item {
  cursor: pointer;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #d3dae2;
  color: #020202;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.sidebar .category-item.active {
  background-color: #a1abadc9;
  color: #fff;
  margin-top: 5px !important;
}

.sidebar .category-item:hover {
  background-color: #a1abad; 
  color: #fff;
}

.category-item.skeleton {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #BDC3C7;
  border-radius: 4px;
  margin-bottom: 5px;
}

.skeleton-placeholder {
  width: 80%;
  height: 20px;
  background-color: #ECF0F1;
  border-radius: 4px;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}
