.product-info {
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
}

.skeleton-total-products {
  width: 150px;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: shimmer 1.5s infinite;
}
.main-content{
  flex: 0 0 auto !important;
  width: 80.33333333% !important;
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}